body{
    margin: 0
}

/* NAVBAR SECTION */
.navbar, .logo, .nav-menu, .nav-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #000000; 
}
.nav-menu, .nav-btn{
    gap: 40px;
}
.navbar{
    padding: 10px 50px 0 50px
}
.logo > h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}
.nav-menu > p, .nav-btn > button {
    font-family: 'Effra';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}

/*HERO SECTION */
