body{
    margin: 0;
    font-family: 'Effra';
    max-width: 100vw;
}
html{
    scroll-behavior: smooth;
}
/* NAVBAR SECTION */
.navbar, .logo, .nav-menu, .nav-btn-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}
.navbar{
    background-color: #000000; 
    padding: 10px 50px 0 50px
}
.logo > h3{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 100%;
    color: #FFFFFF;
}
.nav-menu{
    gap: 20px;
}
.nav-menu > li, .nav-btn > button {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    color: #FFFFFF;
}
.nav-btn{
    border-radius: 40px;
    color: #000000;
    padding: 0.8rem 2rem;
    gap: 10px;
    border: none;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #000000;
    background-color: #A8FF35;
    padding: 4px;
    transition-delay: 2;
}


/*HERO SECTION */
.section{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hero-section{
    background-color: #000000;
    height: auto;
    justify-content: center;
    padding: 100px 0;
}
.hero-content-wrapper > h1{
    height: 81px;
    font-weight: 950;
    font-size: 75px;
    color: #FFFFFF
}
#heading2{
    margin-top:-60px
}
.hero-content-wrapper > p{
    height: 54px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #8B8B8B;
}
.hero-btn-wrapper{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 40px 0 40px 0;
}
.hero-btn{
    height: 57px;
    background: #A8FF35;
    border-radius: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #000000;
}
.hero-btn-info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.info-arrow{
    transform: rotate(95.94deg);
    width: 20.39px;
    height: 34.45px;
    margin-top: -20px;
}
.info{
    color: #FFFFFF;
    font-family: 'GoodDog New';
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    transform: rotate(6deg);
    margin-top: -10px;
}
span{
    display: block;
}
.hero-tab-wrapper{
    margin: 40px 0 40px 0;
}
.hero-tab{
    width: 349.76px;
}
.tab1{
    transform: rotate(-4deg)
}
.tab2{
    transform: rotate(2deg)
}
.tab3{
    transform: rotate(-2deg)
}
.tab4{
    transform: rotate(4deg)
}


/* OPEN TAB SECTION*/
.open-tab-section{
    background-color: #A8FF35;
    justify-content: center;
    height: auto;
    padding: 100px 0;
}
.tab-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.open-tab-heading{
    font-weight: 700;
    font-size: 72px;
    text-align: center;
}
.tab-wrapper{
    display: flex;
    justify-content: center;
}
.open-tab-tab-wrapper{
    width: 502px;
    height: 202px;
    background: #F5F5F5;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.open-tab-tab{
    width: 341.23px
}
.open-tab-info{
    width: 99.42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab-info{
    color: #000000;
    transform: rotate(6deg);
    text-align: center;
}
.tab-info-arrow1 {
    width: 28.39px;
    padding-left: 10px;
    transform: rotate(-72.06deg);
}
.tab-info-arrow2{
    width: 28.39px;
    margin-top: -15px;
    transform: rotate(98.94deg);
}
.open-tab-text{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
}


/* MAIN SECTION */
.main-section{
    margin-bottom: 40px;
}
#main-btn{
    color: #FFFFFF;
    background-color:#000000
}
.partners-title1{    
    font-weight: 700;
    font-size: 64px;
    color: #000000;
}
.partner-span{
    color: #ADADAD;
}
.partners-title2{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #000000;
}
.partners-img-wrapper{
    width: 1160px;
    margin: 0 auto;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.partners-img{
    width: 266px;
}

/*PLATFORM SECTION */
.platform-section{
    background: #FAFAFA;
}
.platform-heading{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #000000;
}
.platform-socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 70px;
}
.socials{
    width: 60px;
}
.platforms-tweet-img-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tweet-img{
    width: 800px;
    padding-bottom: 40px;
}


/* DEALS SECTION */
/* 


.card{
    width: 360px;
    height: 640px;
    background: #FAFAFA;
    border-radius: 16px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
} */

.deal-title{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
}
.deal-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.deal-section{
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #000000;
    height: auto;
    padding: 100px 0;
}
.monthly, .yearly{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}
.yearly{
    color: #F5F5F5;
    opacity: 0.5;
}
.deal-cards{
    display: flex;
    gap: 50px;
}
.deal-card{
    display: flex;
    gap: 50px;
}

/* CONTACT */
.contact{
    height: auto;
    padding: 100px 0;
    background: #A8FF35;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contact-title1 {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    text-align: center;
    color: #000000;
}
.contact-title2{
    font-weight: 900;
    font-size: 72px;
    text-align: center;
    color: #87D322;
}
.contact-btn{
    border-radius: 40px;
    color: #000000;
    padding: 12px 32px;
    border: none;
    color: #FFFFFF;
    background-color:#000000
}

/* FOOTER SECTION */
.footer{
    height: auto;
    padding:30px 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 50px 0 50px;
}
.footer-logo, .footer-menu{
    display: flex;
    align-items: center;
    text-align: center;
}
.footer-logo > h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}
.footer-logo{
    gap: 20px;
}
.footer-menu{
    gap: 40px;
}
li{
    font-weight: 400;
    font-size: 18px;
    list-style-type: none;
}




/* RESPONSIVE SCREENS */

/* LARGE*/
@media screen and (max-width: 1500px) {
    .contact, .open-tab-section, .hero-section, .deal-section{
        padding: 80px 0;
    }
    .nav-menu, .nav-btn{
        gap: 20px;
    }
    .logo > h3{
        font-weight: 500;
        font-size: 1rem;

    }
    .nav-menu > li, .nav-btn > button {
        font-weight: 300;
        font-size: 1rem;
    }
    .nav-btn{
        padding: 0.8rem 2rem;
        border: none;
    }


    /*HERO SECTION */
    .hero-section{
        height: 900px;
    }
    .hero-content-wrapper > h1{
        height: 75px;
        font-weight: 800;
        font-size: 60px;
        line-height: 100%;
    }
    .hero-content-wrapper > p{
        height: 50px;
        font-weight: 300;
        font-size: 12px;
        line-height: 120%;
    }
    .hero-btn-wrapper{
        margin: 30px 0 30px 0;
    }
    .hero-btn{
        font-size: 16px;
    }
    .info{
        font-weight: 250;
        font-size: 10px;
        line-height: 14px;
    }
    .hero-tab{
        width: 240px;
    }

    /* OPEN TAB SECTION*/
    .open-tab-section{
        height: 700px;
    }
    .open-tab-heading{
        font-weight: 600;
        font-size: 60px;
        line-height: 80px;
    }
    .open-tab-tab-wrapper{
        width: 450px;
    }
    .open-tab-tab{
        width: 300.23px
    }
    .tab-info-arrow1 {
        width: 25px;
    }
    .tab-info-arrow2{
        width: 25px;
    }
    .open-tab-text{
        font-size: 16px;
        margin-top: 40px;
    }

    /* MAIN SECTION */
    .main-section{
        margin-bottom: 30px;
    }
    .partners-title1{
        font-weight: 600;
        font-size: 60px;
    }
    .partners-title2{
        font-weight: 600;
        font-size: 60px;
    }
    .partners-img{
        width: 50rem;
    }

    /*PLATFORM SECTION */
    .platform-heading{
        font-size: 60px;
    }
    .platform-socials{
        gap: 20px;
        margin-bottom: 60px;
    }
    .socials{
        width: 40px;
    }
    .tweet-img{
        width: 650px;
        padding-bottom: 40px;
    }

    /* DEAL SECTION*/
    .deal-info{
        gap: 12px;
        margin-bottom: 30px;
    }
    .monthly, .yearly{
        font-weight: 400;
        font-size: 20px;
    }
    .deal-cards{
        display: flex;
        gap: 40px;
    }
    .deal-section{
        height: 1000px;
    }
    .card{
        width: 280px;
        height: 520px;
    }
    /* PARTNERS */
    .partners-img-wrapper{
        width: 900px;
    }
    .partners-img{
        width: 200px;
    }
    
    /* CONTACT */

    .contact-title1, .contact-title2 {
        font-size: 65px;
    }

    /* FOOTER SECTION */
    .footer{
        height: 80px;
    }
    .footer-logo > h3{
        font-weight: 600;
        font-size: 20px;
    }
    .footer-logo{
        gap: 10px;
    }
    .footer-menu{
        gap: 20px;
    }
    li{
        font-weight: 300;
        font-size: 14px;
    }
}



/* MEDIUM */
@media screen and (max-width: 1024px) {
    .contact, .open-tab-section, .hero-section, .deal-section{
        padding: 60px 0;
    }
    .nav-menu, .nav-btn{
        gap: 12px;
    }

    /*HERO SECTION */
    .hero-section{
        height: 800px;
    }
    .hero-content-wrapper > h1{
        font-size: 50px;
    }
    .hero-content-wrapper > p{
        font-size: 10px;
    }
    .hero-btn{
        font-size: 12px;
    }
    .hero-tab{
        width: 200px;
    }

    /* OPEN TAB SECTION*/
    .open-tab-section{
        height: 700px;
    }
    .open-tab-tab-wrapper{
        width: 400px;
    }
    .open-tab-tab{
        width: 280px
    }
    .open-tab-text{
        font-size: 12px;
    }

    /* MAIN SECTION */
    .partners-title1, .partners-title2, .platform-heading{
        font-size: 47px;
    }
    .partners-img{
        width: 40rem;
    }
   /* PARTNERS */
   .partners-img-wrapper{
    width: 700px;
    }
    .partners-img{
        width: 150px;
    }

    /*PLATFORM SECTION */
    .tweet-img{
        width: 600px;
    }
    /* DEAL SECTION*/
    .deal-info{
        gap: 10px;
    }
    .deal-info-img{
        width: 65px;
    }
    .monthly, .yearly{
        font-size: 16px;
    }
    .deal-card{
        gap: 30px;
    }
    .card{
        width: 250px;
        height: 500px;
    }

    .contact-title1, .contact-title2 {
        font-size: 58px;
    }

    /* FOOTER SECTION */
    .footer-logo > h3{
        font-size: 18px;
    }
    li{
        font-weight: 300;
        font-size: 12px;
    }
}


@media screen and (max-width: 880px) {
    /* NAVBAR SECTION */
    .navbar, .logo, .nav-menu, .nav-btn-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        
    }
    .nav-menu, .nav-btn-wrapper{
        display:none;
    }
    .navbar{
        padding: 10px 50px 0 50px
    }
    .logo > h3{
        font-size: 1.5rem;
        line-height: 100%;
    }
    .nav-menu{
        gap: 20px;
    }
    .nav-menu > li, .nav-btn > button {
        font-size: 1.2rem;
        text-align: center;
    }
    .nav-btn{
        padding: 0.8rem 2rem;
        gap: 10px;
    }


    /*HERO SECTION */

    .hero-content-wrapper > h1{
        font-size: 36px;
    }
    .hero-content-wrapper > p{
        font-size: 14px;
    }
    .hero-btn-wrapper{
        margin: 30px 0 30px 0;
    }
    .hero-btn{
        font-size: 12px;
    }
    .info-arrow{
        width: 20px;
    }
    .info{
        font-size: 10px;
    }
    span{
        display: block;
    }
    .hero-tab-wrapper{
        display: flex;
        flex-direction: column;
        margin: 40px 0 40px 0;
        align-items: center;
    }
    .hero-tab{
        width: 340px;
    }


    /* OPEN TAB SECTION*/
    .open-tab-section{
        height: auto;
    }
    .tab-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .open-tab-heading{
        font-size: 36px;
    }
    .open-tab-tab-wrapper{
        width: 340px;
        height: 118px;
    }
    .open-tab-tab{
        width: 290px
    }
    .open-tab-text{
        font-size: 14px;
    }

    /* MAIN SECTION */
    .partners-title1, .partners-title2{    
        font-size: 36px;
    }
    /* PARTNERS */
    .partners-img-wrapper{
        width: 350px;
    }
    .partners-img{
        width: 160px;
    }

    /*PLATFORM SECTION */
    .platform-heading{
        font-size: 36px;
    }
    .tweet-img{
        width: 340px;
    }
    /* DEAL SECTION */
    .deal-title{
        font-size: 36px;
    }
    .deal-info{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 40px;
    }
    .deal-section{
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: #000000;
        height: auto;
    }
    .monthly, .yearly{
        font-size: 18px;
    }
    .deal-card{
        display: flex;
        flex-direction: column;

    }
    .card{
        width: 339px;
        height: 602px;
    }

    /* CONTACT */
    .contact-title1, .contact-title2 {
        font-size: 36px;
    }
    .contact-btn{
        width: 106px;
        padding: 8px 18px;
    }
    .contact-btn-text{
        font-size:10px
    }

    /* FOOTER SECTION */
    .footer{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
    }
    .footer-logo{
        justify-content: center;
    }
}